.desc{
    margin-top: 6.5%;
    margin-left: 30px;
}
.new_price{
    color:red;
    font-weight: bold;
}
.morebooks{
    text-align: center;
}
.cc{
    text-align: center;
}
.ll{
    text-align: center;
}